{% extends 'basic.html' %}
{% block title %}{{title}}{% endblock title %}
{% block css %}{% endblock css %}
{% block main %}

{% load static %}

<main class="main-content">
    <h2 class="header">Contact Us</h2>
    <div class="contact-content">
        <ul>
            <li class="mb-2"><i class="fas fa-phone"></i>+91-9977552434 (Dr. Shivlal Mewada)</li>
            <li class="mb-2"><a href=""><i class="fa-solid fa-globe"></i>vibhUP.org</a></li>
            <li class="mb-2"><a href=""><i class="fas fa-envelope"></i>vibhabharatiupawadh@gmail.com</a></li>
            <li class="mb-2"><i class="fas fa-map-marker-alt"></i>501, King Tower, Behind Reliance Fresh,
                Navlakha Square, Indore, 452001- India</li>

        </ul>

        <h2 class="header">Social Media</h2>
        <div class="social-icons mt3">
            <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                class="fa-brands fa-facebook footer-icon"></i></a>
            <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                class="fa-brands fa-twitter footer-icon"></i></a>
            <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                class="fa-brands fa-linkedin footer-icon"></i></a>
            <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
            <a href="#"><i class="fa-brands fa-instagram footer-icon"></i></a>
          </div>
    </div>

</main>

{% endblock main %}





