{% extends 'basic.html' %} 
{% block title %}{{title}}{% endblock title %}
 {% block css %}
 <style>
    .main-content .card{
        border: 2px solid black;
    }
    .main-content .our-team .card{
       width: 23%;
    }
 </style>
 {% endblock css %} 
 
 {% block main %} 
 {% load static %}

<main class="main-content">
    <h2 class="header">Our Team</h2>
    <h2 class="center-header">UP (AWADH) TEAM</h2>
    <div class="our-team pt-4">
        <div class="mb-2 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>

        </div>
        <div class="mb-2 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>
            
            <div class="card align-items-center"><img src="{% static 'images/forDemo.jpg' %}" class="" alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">Dr. Akhilesh Pandey</h5>
                    <div class="members-social-icons">
                        <a href="https://www.facebook.com/vibhamalwaofficial" target="_blank"><i
                                class="fa-brands fa-facebook footer-icon"></i></a>
                        <a href="https://twitter.com/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-twitter footer-icon"></i></a>
                        <a href="https://www.linkedin.com/company/vibhamalwa" target="_blank"><i
                                class="fa-brands fa-linkedin footer-icon"></i></a>
                        <a href="#"><i class="fa-solid fa-envelope footer-icon"></i></a>
                        
                    </div>
                </div>
            </div>

        </div>
       
    </div>
</main>

{% endblock main %}


