{% extends 'basic.html' %} 
{% block title %}{{title}}{% endblock title %}
 {% block css %}
 <style>
    .main-content .card img{
        border: 2px solid black;
    }
 </style>
 {% endblock css %} 
 {% block main %} 
 {% load static %}

<main class="main-content">
    <h2 class="header">Photo Gallery</h2>
    <div class="ph-gallery">
        <div class="mb-1 pt-3 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/cr-img1.jpg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/cr-img2.jpg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/cr-img3.jpg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/cr-img4.jpg' %}" class="" alt="...">
                
            </div>
        </div>
        <div class="mb-1 d-flex justify-content-center">
            <div class="card align-items-center"><img src="{% static 'images/cr-img5.jpg' %}" class="" alt="...">
                
            </div>
            <div class="card align-items-center"><img src="{% static 'images/cr-img6.JPEG' %}" class="" alt="...">
                
            </div>
           
        </div>
    </div>
</main>

{% endblock main %}