{% extends 'basic.html' %}
{% block title %}{{title}}{% endblock title %}
{% block css %}{% endblock css %}
{% block main %}
{% load static %}

<main class="main-content">
    <h2 class="header">Registration</h2>

    <div class="payment">
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
      {% endif %}

            <div class="col-6 mx-auto" style="margin-top:10%;">
                <form action="http://127.0.0.1:8000/payment/{{user.id}}/" method="post">
                    {% csrf_token %}
                    <h3>Step 7: Payment for Membershipp</h3><br>
                    <input type="text" name="email" class="form-control" value="{{user.primary_email}}" readonly>
                    <div class="mb-3">
                      <label for="name" class="form-label">Name</label>
                      <input type="text" name="name" class="form-control" id="name" value="{{user.full_name}}" aria-describedby="yourr name" readonly>
                    </div>

                    <div class="mb-3">
                      <label for="ph_no" class="form-label">Phone Number</label>
                      <input type="text" name="phone_number" class="form-control" id="ph_no" value="{{user.primary_mobile}}" aria-describedby="yourr name" readonly>
                    </div>

                    <div class="mb-3">
                      <label for="amount" class="form-label">Amount</label>
                      <input type="number" name="amount" class="form-control" value="{{amount}}" id="amount" readonly>
                    </div>

                    <input type="hidden" name="payment_order_id" value="{{user.id}}">

                    <div>
                    <button type="submit" class="btn btn-primary">Pay Now</button>
                    </div>
                  </form>
            </div>
    </div>

</main>

{% endblock main %}

{% block js %}

{% endblock js %}