<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="form1">
    <form action="">

      <div class="form-group mt-3">
        <label for="name">Enter Your Full Name<span class="text-danger"> *</span></label><br>
        <span class="d-flex mt-2" style="column-gap: 10px;">
          <select class="form-control" name="selectStatus" id="status" style="width: 15%;">
            <option value="" disabled selected>- Select -</option>
            <option value="Mr.">Mr.</option>
            <option value="Mr.">Mrs.</option>
            <option value="Mr.">Miss.</option>
            <option value="Mr.">Dr.</option>
            <option value="Mr.">Shri.</option>
            <option value="Mr.">Prof.</option>
          </select>
          <input type="text" name="name" id="name" class="form-control" required placeholder="Enter Name Here" style="width: 85%;">
        </span>
      </div>
      <div class="form-group mt-3">
        <label for="gender" class="mb-2">Select Your Gender<span class="text-danger"> *</span></label>
        <select class="form-control" id="gender" name="gender" required>
          <option value="" disabled selected>Select Gender</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="other">Other</option>
        </select>
      </div>

      <div class="form-group mt-3">
        <label for="dob" class="mb-2">Date of Birth:<span class="text-danger"> *</span></label>
        <input type="date" class="form-control" id="dob" name="dob" required>
      </div>

      <div class="form-group mt-3">
        <label for="areaOfInterest" class="mb-2">Select Area of Interest<span class="text-danger"> *</span></label>
        <select id="areaOfInterest" class="form-control" name="areaOfInterest" required>
          <option value="" disabled selected>Nothing Selected</option>
          <option value="Traditional Knowledge and Applications">Traditional Knowledge and Applications
          </option>
          <option value="Environment">Environment</option>
          <option value="Energy">Energy</option>
          <option value="Health Sciences">Health Sciences</option>
          <option value="Engineering Sciences">Engineering Sciences</option>
          <option value="Literature">Literature</option>
          <option value="Infrastructure, Technology and Communications">Infrastructure, Technology and
            Communications</option>
          <option value="Waste Management">Waste Management</option>
          <option value="Woman Empowerment">Woman Empowerment</option>
          <option value="School Student Activities">School Student Activities</option>
          <option value="Agriculture and Veterinary Science">Agriculture and Veterinary Science</option>
          <option value="Indic Science">Indic Science</option>
          <option value="Other">Other</option>

        </select>
      </div>
     
      <div class="form-group mt-3">
        <label for="instituteName mb-2">Enter Name of Affiliated Institute<span class="text-danger"> *</span></label>
        <input type="text" id="instituteName" name="instituteName" class="form-control" placeholder="Example, BBAU UNIVERSITY" required>
      </div>

      <div class="form-group mt-3">
        <label for="designation mb-2">Enter Your Designation<span class="text-danger"> *</span></label>
        <input type="text" name="designation" class="form-control" placeholder="Enter Designation" required>
      </div>
      <button type="submit">submit</button>

    </form>
  </div>



  <script>
    var form1 = document.querySelector('.form1')
    form1.querySelector('form').addEventListener('submit',run)

    function run(event) {
      event.preventDefault();
      var allInputName = form1.querySelectorAll('[name]')
      for (let index = 0; index < allInputName.length; index++) {
        let name = allInputName[index].name;
        let val = allInputName[index].value;
        console.log(name,"  ==  ",val)
      }
      alert('are you sure')
    }
  </script>
</body>
</html>